.App{
background-image: url("https://img.freepik.com/free-vector/party-crowd-silhouettes-dancing-nightclub_1048-11557.jpg?w=1380&t=st=1698923129~exp=1698923729~hmac=9063b5be5f8da9006529fc27752f4ead0fe916c8c1169f5b04203f5dbd08bed5");
background-size: cover;
min-height:100vh;
/* min-width:95vw; */
}
